@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#root {
    background-color: #1c1917;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}