@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#root {
    background-color: #201c1b;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.btn-ghost:hover {
    background-color: #292524;
}